{% extends 'base.html.twig' %}

{% block title %}Edit {{ website.getDisplayName() }} | Website Checker{% endblock %}

{% block body %}
  <section>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('delete-website', {'id': website.getId()}) }}" class="button">Delete</a>
    <a href="{{ path('websites') }}" class="button">Cancel</a>
  </section>
{% endblock %}
